  <footer class="primary__footer">

    <div class="copyright">
      2019 <a href="https://www.lighthouselabs.ca/" target="blank">Lighthouse Labs</a>, Calgary Canada
    </div>

  </footer> <!-- /.primary__footer -->