<header class="primary__header">

    <a href="/urls" class="logo">TinyApp</a>
    
<<<<<<< HEAD
    <div class="header-form">
=======
    <% if (user) { %>
>>>>>>> feature/user-registration

      <p class="lgd_in_msg">Logged-in as <%= user.email %></p>
      
      <form method="POST" action="/logout" class="logout_form">
          <input type="submit" value="Logout" class="logout_form_submit"/>  
      </form> 
      
      <%} else {%> 
          
      <p class="lgd_in_msg"><a href="/login">Login</a> | <a href="/register">Register</a> </p>  
          
    <% } %>

</header> <!-- /.primary__header -->