<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

  <!-- App CSS -->	
  <link rel="stylesheet" href="/styles/app.css" type="text/css" />

</head>
<body class="primary primary--full-width">

  <% include partials/_header.ejs %>

  <main class="primary__main">

    <section class="register">
        
      <h1>Register:</h1>
      
      <form method="POST" action="/register">
                
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter Email" />

        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Enter Password" />
        
        <input type="submit" value="Register" class="btn" />
        
      </form>

    </section>

  </main> <!-- /.primary__main -->

  <% include partials/_footer.ejs %>

</body>
</html>