<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

  <!-- App CSS -->	
  <link rel="stylesheet" href="/styles/app.css" type="text/css" />

</head>
<body class="primary primary--full-width">

  <% include partials/_header.ejs %>

  <main class="primary__main">

    <section class="urls">
        
      <h1>Create New URL</h1>

      <form class="form-inline" method="POST" action="/urls">
        
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://">

        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>

    </section>

  </main> <!-- /.primary__main -->

  <% include partials/_footer.ejs %>

</body>
</html>