/*

Description:    CSS for Tweeter Project V1.0
Date Created:   18/11/05
Date Updated:   18/11/06

00. Mixins
01. Variables
02. Reset
03. Layout
04. Typography
05. Header
06. Footer
07. Tweet Card > New
08. Tweet Card > Standard
09. Button
10. 

*/
/* ==========================================================================
00. Mixins
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Primary Colour
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Secondary Colour (1)
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Secondary Colour (2)
========================================================================== */
/* ==========================================================================
01. Variables \ Brand UI Colours
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Fonts
========================================================================== */
/* ============================================================================= 
02. HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/
================================================================================ */
html,
button,
input,
select,
textarea {
  color: white;
}
html {
  font-size: 100%;
  line-height: 1.4em;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 40px 0 20px;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
body.hg {
  margin: 0 !important;
}
/* ============================================================================= 
03. Layout Styles
================================================================================ */
.hg__header {
  grid-area: header;
}
.hg__footer {
  grid-area: footer;
}
.hg__main {
  grid-area: main;
}
.hg__left {
  grid-area: navigation;
}
.hg__right {
  grid-area: sidebar;
}
.hg {
  display: grid;
  grid-template-areas: "header header header" "navigation main sidebar" "footer footer footer";
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: 60px 
		1fr
		60px;
  min-height: 100vh;
  padding: 0;
  margin: 0 !important;
  background: url("duotone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hg__main {
  margin: 40px 20px 60px;
}
/* ============================================================================= 
03. Layout Styles \ Media Queries
================================================================================ */
@media only screen and (max-width: 1919px) {
  .hg {
    grid-template-columns: 0px 1fr 0px;
  }
}
@media only screen and (max-width: 1279px) {
  .hg {
    grid-template-columns: 0px 1fr 0px;
  }
  .hg__main {
    margin: 40px 20px 40px;
  }
}
@media screen and (max-width: 799px) {
  .hg {
    grid-template-areas: "header" "navigation" "main" "sidebar" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px 
			0px 
			1fr
			auto 
			60px;
  }
  .hg__main {
    margin: 40px 0 0;
    max-width: 100%;
  }
}
@media only screen and (max-width: 379px) {
  .hg__main {
    margin: 40px 10px 0;
  }
}
/* ============================================================================= 
04. Typography
================================================================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.025em;
}
h1,
h2,
h3 {
  font-weight: 500;
  text-transform: none;
}
h1 {
  display: block;
  margin: 40px 0 20px;
  font-size: 42px;
  line-height: 1.136em;
}
h2 {
  margin: 40px 0 10px;
  font-size: 32px;
  line-height: 1.136em;
}
h3 {
  margin: 40px 0 10px;
  font-size: 28px;
  line-height: 1.136em;
}
p {
  margin: 0 0 20px;
  font: 300 20px/1.5em "Oswald", Arial, sans-serif;
}
strong {
  font-weight: 500;
}
em {
  font-style: normal;
  color: #78868D;
}
ul {
  list-style-type: none;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #A3ACB0;
  text-decoration: none;
}
/* ============================================================================= 
04. Typography \ Media Queries
================================================================================ */
@media only screen and (min-width: 1920px) {
  p {
    font-size: 24px;
  }
  ul,
  ol {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1279px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  ul,
  ol {
    font-size: 18px;
  }
}
@media only screen and (max-width: 799px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    margin: 40px 0 10px;
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  ul,
  ol {
    font-size: 18px;
  }
}
@media only screen and (max-width: 379px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  ul,
  ol {
    font-size: 16px;
  }
}
/* ============================================================================= 
05. Header
================================================================================ */
.hg__header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}
.hg__header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
.hg__header li a {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  border-bottom: none;
  color: #263238;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.hg__header li a span {
  display: none;
}
.hg__header li a:hover,
.hg__header .menu-btn:hover,
.hg__header li a:focus,
.hg__header .menu-btn:hover {
  background-color: #f4f4f4;
  color: #E0245D;
}
.hg__header .bird {
  display: block;
  border-bottom: none;
  float: left;
  margin: 10px 10px 0 20px;
  padding: 0;
  width: 40px;
  height: 40px;
}
.hg__header .logo {
  display: block;
  border-bottom: none;
  float: left;
  padding: 20px 10px 20px;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.hg__header .logo:link,
.hg__header .logo:visited {
  color: #263238;
  text-decoration: none;
}
.hg__header .logo:hover,
.hg__header .logo:focus {
  color: #E0245D;
  background: #F4F4F4;
}
/* ============================================================================= 
05. Header \ Menu
================================================================================ */
.hg__header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
/* ============================================================================= 
05. Header \ Menu \ Icon
================================================================================ */
.hg__header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.hg__header .menu-icon:focus {
  background-color: #f4f4f4;
}
.hg__header .menu-icon .navicon {
  background: #263238;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.hg__header .menu-icon .navicon:before,
.hg__header .menu-icon .navicon:after {
  background: #263238;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hg__header .menu-icon .navicon:before:hover,
.hg__header .menu-icon .navicon:after:hover,
.hg__header .menu-icon .navicon:before:focus,
.hg__header .menu-icon .navicon:after:focus {
  background-color: #f4f4f4;
  color: #E0245D;
}
.hg__header .menu-icon .navicon:before {
  top: 5px;
}
.hg__header .menu-icon .navicon:after {
  top: -5px;
}
/* ============================================================================= 
05. Header \ Menu \ Button
================================================================================ */
.hg__header .menu-btn {
  display: none;
}
.hg__header .menu-btn:checked ~ .menu {
  max-height: 260px;
}
.hg__header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.hg__header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.hg__header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.hg__header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.hg__header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* NEW */
.lgd_in_msg {
  float: right;
  margin: 20px;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #263238;
}
.logout_form {
  float: right;
  margin: 22px 20px 18px;
  color: #263238;
}
.hg__header a:link,
.hg__header a:visited {
  color: #263238;
  text-decoration: none;
}
.hg__header a:hover,
.hg__header a:focus {
  color: #E0245D;
  text-decoration: none;
}
/* ============================================================================= 
05. Header \ Media Queries
================================================================================ */
@media (min-width: 800px) {
  .hg__header li {
    float: left;
  }
  .hg__header li a {
    padding: 20px;
  }
  .hg__header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .hg__header .menu-icon {
    display: none;
  }
}
@media (min-width: 1280px) {
  .hg__header li a span {
    display: inline-block;
  }
}
@media (max-width: 799px) {
  .hg__header .logo {
    padding: 20px;
  }
  .hg__header li a {
    border-top: 1px solid #D4D7D9;
  }
  .hg__header li a span {
    display: inline-block;
  }
  .hg__header li:last-child {
    border-bottom: 1px solid #D4D7D9;
  }
}
@media (max-width: 379px) {
  .hg__header .logo {
    padding: 20px 10px;
  }
  .hg__header li a {
    display: block;
    padding: 10px;
  }
  .hg__header li a span {
    display: none;
  }
}
/* ============================================================================= 
06. Footer
================================================================================ */
.hg__footer {
  background-color: white;
  box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, 0.1);
  color: #263238;
}
.copyright {
  margin: 0;
  padding: 20px;
  display: inline-block;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.copyright a:link {
  color: #263238;
  text-decoration: none;
  border-bottom: none;
}
.copyright a:visited {
  color: #263238;
  text-decoration: none;
}
.copyright a:hover,
.copyright a:focus {
  color: #E0245D;
  text-decoration: none;
}
.twitter {
  padding: 20px;
  display: inline-block;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.twitter a:link {
  color: #263238;
  text-decoration: none;
  border-bottom: none;
}
.twitter a:visited {
  color: #263238;
  text-decoration: none;
}
.twitter a:hover,
.twitter a:focus {
  color: #E0245D;
  text-decoration: none;
}
/* ============================================================================= 
06. Footer \ Media Queries
================================================================================ */
@media only screen and (max-width: 799px) {
  .copyright {
    width: calc(100% - 20px);
    padding: 20px 10px 0;
  }
  .twitter {
    width: calc(100% - 20px);
    padding: 10px 10px 20px;
    text-align: left;
  }
}
@media only screen and (max-width: 379px) {
  .copyright {
    width: calc(100% - 20px);
    padding: 20px 10px 0;
    font-size: 12px;
  }
  .twitter {
    width: calc(100% - 20px);
    padding: 10px 10px 20px;
    font-size: 12px;
    text-align: left;
  }
}
.hg__main form {
  margin: 10px 0 0;
}
.hg__main label {
  font: normal 400 20px/1em "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
}
.hg__main input {
  margin: 0 30px 0 0;
  color: #263238;
}
.hg__main input[type=submit] {
  display: inline-block;
  cursor: pointer;
  color: #263238;
  padding: 5px;
  font: normal 500 16px/1em "Oswald", Arial, sans-serif;
}
.hg__main .logout_form_submit {
  margin: 10px 0 0;
}
.hg__main ul {
  display: inline-block;
  margin: 20px 0;
}
.hg__main ul li {
  display: inline-block;
  margin: 5px 0;
  padding: 0;
  font: normal 300 20px/1em "Oswald", Arial, sans-serif;
}
/* ============================================================================= 
09. Button
================================================================================ */
.btn {
  display: inline-block;
  margin: 0.313em 0 0;
  padding: 10px;
  width: 100%;
  background: #D4D7D9;
  color: #263238;
  font: 500 20px/1.4em "Oswald", Arial, sans-serif;
  letter-spacing: -0.0125em;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover,
.btn:focus {
  color: #212224;
  background: #A3ACB0;
  text-decoration: none;
}
/* ============================================================================= 
10. Helper Classes
================================================================================ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
